@font-face {
    font-family: 'ProximaNova';
    src: url('assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/ProximaNova-Semibold.otf') format('opentype'),
    url('assets/fonts/ProximaNova-Semibold.woff') format('woff'), url('assets/fonts/ProximaNova-Semibold.ttf') format('truetype'), url('assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/ProximaNova-Regular.otf') format('opentype'),
    url('assets/fonts/ProximaNova-Regular.woff') format('woff'), url('assets/fonts/ProximaNova-Regular.ttf') format('truetype'), url('assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ProximaNova', sans-serif;
    background: #eef3fa url(assets/img/pattern.png) repeat;
    color: #828282;
    font-weight: 300;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: #292a2d;
}

#main-menu {
    margin: 20px 0;
}

#main-menu .navbar-nav .nav-item {
    margin: 0 5px;
}

#main-menu .navbar-nav .nav-item > a {
    font-size: 14px;
    font-weight: 600;
    color: #9da9b5;
    text-transform: uppercase;
    padding: 2px 0;
    -webkit-transition: color .35s;
    transition: color .35s;
    border-bottom: 3px solid transparent;
}

#main-menu .navbar-nav .nav-item > a:hover,
#main-menu .navbar-nav .nav-item > a:active,
#main-menu .navbar-nav .nav-item.active > a,
#main-menu .navbar-nav .nav-item.dropdown.show > a,
#main-menu .navbar-nav .nav-item.active > a:hover,
#main-menu .navbar-nav .nav-item.active > a:active {
    color: #2e3338;
    border-color: #4a82e4;
}

#main-menu .navbar-brand > img,
#main-menu .navbar-brand > svg {
    height: 30px;
}

.site-banner {
    position: relative;
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
}

.bg-lefts {
    width: 100%;
    min-height: 600px;
    display: block;
    background: url(assets/img/bg-left.png) no-repeat;
    position: absolute;
}

.sitename {
    font-size: 30px;
    color: #2e3338;
    font-weight: 900;
}

span.hr-intro {
    width: 142px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#5260d5), to(#42a4f3));
    background: linear-gradient(to right, #5260d5, #42a4f3);
    display: block;
    margin-bottom: 10px;
}

.docopation-intro {
    font-size: 19px;
    color: #7a90a4;
}

.register-btn {
    width: 256px;
    height: 130px;
    background: url(assets/img/block-2s.png) no-repeat;
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
    color: #6c7d8e;
    text-align: center;
}

.register-btn > .title {
    display: block;
    font-size: 35px;
    font-weight: 800;
    margin-left: 60px;
    padding: 20px 20px;
}

.opentable {
    border-bottom: 5px solid #eee;
    background: #fff;
    box-shadow: 0 10px 65px 0 #dae0e8;
    padding: 20px 13px;
    border-radius: 6px;
    margin-bottom: 25px;
}

.opentable > .title {
    margin-bottom: 10px;
}

.openside {
    background: #fff;
    padding: 15px;
    border-bottom: 7px solid #eee;
    border-radius: 3px;
    box-shadow: 0 10px 65px 0 #dae0e8;
    margin-bottom: 15px;
}

.openside > .title {
    font-size: 14px;
    color: #2e3338;
    font-weight: 600;
    border-bottom: 1px solid #eef3fa;
    padding: 5px 0 15px 0;
    margin-bottom: 10px;
}

.btn {
    border-radius: 3px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 65px 0 #ccd4e0;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff !important;
}

.btn:hover,
.btn:active {
    box-shadow: 0 20px 45px 0 #ccd4e0;
}

.btn-primary {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#5260d5), to(#42a4f3));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #5260d5, #42a4f3);
}

.btn-primary:hover,
.btn-primary:active {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#6371e4), to(#5eb6fd));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #6371e4, #5eb6fd);
}

.btn-secondary {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#34383f), to(#747a85));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #34383f, #747a85);
}

.btn-secondary:hover,
.btn-secondary:active {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#0f1117), to(#464b54));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #0f1117, #464b54);
}

.btn-success {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#669900), to(#9cdc01));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #669900, #9cdc01);
}

.btn-success:hover,
.btn-success:active {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#416200), to(#79ac01));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #416200, #79ac01);
}

.btn-warning {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#cf9059), to(#ffb26b));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #cf9059, #ffb26b);
}

.btn-warning:hover,
.btn-warning:active {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#b27c4d), to(#da985b));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #b27c4d, #da985b);
}

.btn-danger {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#b65159), to(#fe666f));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #b65159, #fe666f);
}

.btn-danger:hover,
.btn-danger:active {
    background: url(assets/img/btn-pt.png) no-repeat right, -webkit-gradient(linear, left top, right top, from(#b6575a), to(#ea5e66));
    background: url(assets/img/btn-pt.png) no-repeat right, linear-gradient(to right, #b6575a, #ea5e66);
}

.site-footer {
    background: #343a4a;
    color: #aaa;
    padding: 10px;
    font-size: 12px;
    margin-top: 40px;
}

.home-item {
    border-bottom: 5px solid #eee;
    background: #fff;
    box-shadow: 0 10px 65px 0 #dae0e8;
    padding: 25px 10px;
    border-radius: 6px;
    margin-bottom: 25px;
    width: 100%;
}

.home-item > img {
    float: left;
    width: 20%;
    margin-right: 25px;
}

.well {
    padding: 15px;
    border-radius: 3px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-toggle:after {
    content: none !important;
}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.select2-offscreen {
    display: none;
}

#step-field {
    width: 195px !important;
}

.input-group-append > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
}

blockquote {
    border-left: 4px solid #a4a8aa;
    font-size: 19px;
    font-weight: 100;
    padding: 7px 6px;
}

blockquote:before,
blockquote:after {
    content: '\f10d';
    font-family: "Font Awesome 5", sans-serif;
    font-weight: 900;
    color: #a4a8aa;
    padding: 10px;
    font-size: 13px;
}

blockquote:after {
    content: '\f10e';
}

.alt {
    color: #04688d;
}

.img-circle {
    border-radius: 50%;
}

.rounded > svg {
    border-radius: 0.25rem;
}
