* {
    outline: 0 !important;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
}

a {
    color: #428bca;
}

a:hover,
a:active,
a:focus {
    color: #ff6c2c;
    text-decoration: none;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.atomcp-navbar .navbar {
    background-color: #fff;
    border: 0;
    border-top: 1px solid #d9e0e2;
    border-bottom: 1px solid #d9e0e2;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    z-index: 1010;
    position: relative;
    margin-bottom: 0;
}

.atomcp-navbar .sidebar-toggle {
    float: left;
    padding: 15px 10px;
    color: #4f5860;
    line-height: 20px;
    border-right: 1px solid #dae0e2;
}

.atomcp-navbar .sidebar-toggle:hover,
.atomcp-navbar .sidebar-toggle:active,
.atomcp-navbar .sidebar-toggle:focus {
    color: #ff6c2c;
}

.atomcp-navbar .navbar-brand {
    color: #ff6c2c;
    font-weight: bold;
    padding: 15px 10px;
}

.atomcp-navbar .navbar-brand:hover,
.atomcp-navbar .navbar-brand:active,
.atomcp-navbar .navbar-brand:focus {
    color: #4f5860;
}

.atomcp-navbar .user-nav {
    margin: 0;
    float: right;
}

.atomcp-navbar .user-nav > li {
    display: inline-block;
}

.atomcp-navbar .user-nav > li > a {
    border-left: 1px solid;
    border-color: #dae0e2;
    background-color: transparent;
    color: #4f5860;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    display: inline-block;
    padding: 15px 10px;
}

.atomcp-navbar .user-nav > li > a:hover,
.atomcp-navbar .user-nav > li > a:active,
.atomcp-navbar .user-nav > li > a:focus {
    color: #ff6c2c;
}

.atomcp-navbar .user-nav > li.open > a,
.atomcp-navbar .user-nav > li.open > a:hover,
.atomcp-navbar .user-nav > li.open > a:focus {
    color: #ff6c2c;
    background-color: transparent;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    border-color: #dae0e2;
}

.atomcp-navbar .user-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.atomcp-navbar .user-nav .open .dropdown-menu > li > a {
    color: #31373c;
    font-weight: lighter;
    padding: 10px 15px;
}

@media (max-width: 767px) {
    .atomcp-navbar .user-nav .open .dropdown-menu {
        position: absolute;
        background-color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .atomcp-navbar .user-nav .open .dropdown-menu > li > a:hover,
    .atomcp-navbar .user-nav .open .dropdown-menu > li > a:active,
    .atomcp-navbar .user-nav .open .dropdown-menu > li > a:focus,
    .atomcp-navbar .user-nav .open .dropdown-menu > .active > a,
    .atomcp-navbar .user-nav .open .dropdown-menu > .active > a:hover,
    .atomcp-navbar .user-nav .open .dropdown-menu > .active > a:focus {
        color: #ff6c2c;
        background-color: #f7f7f7;
    }
}

.atomcp-navbar .msg-count {
    position: absolute;
    top: 5px;
    margin-left: -20px;
    font-size: 9px;
    padding: .2em .4em;
}

.atomcp-navbar #navbar-search {
    padding: 0;
}

.atomcp-navbar #navbar-search .form-control {
    width: 200px;
    height: auto;
    border: 0;
    box-shadow: none;
    opacity: .9;
    border-radius: 0;
    padding: 15px 10px 15px 30px;
}

.atomcp-navbar #navbar-search:after {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 50px;
    content: "\f002";
}

.atomcp-navbar #search_result {
    min-width: 200px;
}

.atomcp-navbar #search_result > li > a {
    padding: 15px;
}

.atomcp-navbar #search_result > li .admin-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .nav-search-dropdown {
        position: unset !important;
    }

    .atomcp-navbar #search_result {
        width: 100% !important;
    }
}

.atomcp-navbar .messages-menu > .dropdown-menu {
    width: 270px;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li .menu {
    max-height: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a {
    margin: 0;
    padding: 10px 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a > p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}

.atomcp-navbar .messages-menu > .dropdown-menu > li.footer > a {
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    padding: 7px 10px;
    text-align: center;
}

@media (max-width: 767px) {
    .atomcp-navbar #navbar-search {
        width: 35px;
    }

    .atomcp-navbar #navbar-search .form-control {
        width: 0;
        padding: 15px 10px 15px 24px;
    }

    .atomcp-navbar #navbar-search.open,
    .atomcp-navbar #navbar-search.open .form-control {
        width: 100%;
    }

    .atomcp-navbar #navbar-search.open {
        color: #ff6c2c;
    }

    .nav-link.search-open {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .atomcp-navbar .sidebar-toggle {
        width: 50px;
    }

    .atomcp-navbar .sidebar-toggle,
    .atomcp-navbar .navbar-brand,
    .atomcp-navbar .user-nav > li > a {
        padding: 15px;
    }
}

#sidebar {
    background-color: #eaeaea;
    border-right: 1px solid #dadada;
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 101;
    width: 50px;
    padding: 0;
    margin-left: -50px;
    -webkit-transition: margin-left 0.5s ease;
    transition: margin-left 0.5s ease;
}

#content {
    margin-top: 12px;
    margin-left: 0;
    margin-bottom: 35px;
    -webkit-transition: margin-left 0.5s ease;
    transition: margin-left 0.5s ease;
}

.sidebar-toggled #sidebar {
    margin-left: 0;
    box-shadow: 0 0 20px rgb(181, 181, 181);
}

.sidebar-toggled #content {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar {
        margin-left: 0;
    }

    #content {
        margin-left: 50px;
    }

    .sidebar-toggled #sidebar {
        margin-left: -50px;
        box-shadow: none;
    }

    .sidebar-toggled #content {
        margin-left: 0;
    }

    #sidebar-sections > li.active > a {
        box-shadow: 2px 0 0 0 #fafafa;
    }
}

#sidebar-sections > li {
    list-style: none;
}

#sidebar-sections > li > a {
    border-bottom: 1px solid #dadada;
    padding: 16px;
    display: block;
    color: #353535;
    font-size: 18px;
}

#sidebar-sections > li > a:hover,
#sidebar-sections > li > a:active,
#sidebar-sections > li > a:focus {
    color: #ff6c2c;
}

#sidebar-sections > li.active > a,
#sidebar-sections > li.open > a {
    border-left: 4px solid #ff6c2c;
    padding-left: 12px;
    background-color: #fafafa;
}

#sidebar-sections > li a > .admin-image {
    width: 20px;
    height: 20px;
    float: right;
}

#sidebar-sections > li > .dropdown-menu {
    margin-top: -52px;
    left: 50px;
    width: 220px;
}

#sidebar-sections > li > .dropdown-menu > li {
    border-bottom: 1px dotted #dae0e2;
}

#sidebar-sections > li > .dropdown-menu > li > a {
    padding: 5px 11px;
}

.dropdown-menu {
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 0;
}

.dropdown-menu > li:last-child {
    border-bottom: 1px dotted transparent;
}

.dropdown-menu > li > a {
    color: #31373c;
    font-weight: lighter;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ff6c2c;
    background-color: #f7f7f7;
}

.dropdown-menu.scrollable {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.info-boxes .info-box {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 0;
}

.info-boxes .info-box:first-child {
    border-radius: 3px 3px 0 0;
}

.info-boxes .info-box:last-child {
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.info-box,
.panel {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 3px;
}

.panel .panel-heading {
    border-top: 0 solid #d9e0e2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    border-left: 0;
    border-right: 0;
    line-height: 20px;
    color: black;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 20px;
    padding: 15px;
    font-weight: lighter;
}

.panel-collapsed-indicator {
    font-size: 14px;
    color: #d9e0e2;
    cursor: pointer;
    padding: 15px;
    margin-top: -12px;
    margin-right: -15px;
}

.panel-collapsed-indicator:hover {
    color: #4f5860;
}

.sections > .panel:hover,
.panel.active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
    border-color: rgba(0, 0, 0, 0.125);
}

.panel.active .panel-heading {
    font-weight: bold;
    color: #ff6c2c;
}

.panel .panel-heading {
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
}

.panel-heading > i {
    color: #676767;
}

.info-panel .icon {
    margin-top: -41px;
    font-size: 25px;
    opacity: .5;
}

.content-header {
    position: relative;
}

.content-header > h1 {
    font-weight: lighter;
    border-left: 4px solid #ff6c2c;
    padding: 0 0 0 .5em;
    margin: 0;
    display: inline-block;
    font-size: 3.5rem;
}

.content-header > .breadcrumb {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .content-header > .breadcrumb {
        background-color: transparent;
        font-size: 12px;
        padding: 6px 5px;
        border-radius: 2px;
        position: absolute;
        top: 0;
        right: 15px;
    }
}

.section-content {
    background-color: #fff;
    padding: 15px;
    margin: 2em 0 2em 0;
    border: 1px solid #d9e0e2;
    border-radius: 3px;
}

.icon-wrapper {
    background: #f9f9f9;
    margin: 0 15px 15px 0;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-wrapper img {
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px;
}

.direct-chat {
    position: fixed;
    z-index: 1009;
    top: 50px;
    bottom: 0;
    right: -350px;
    width: 250px;
    padding-bottom: 55px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #e0e0e0;
    border-left: 1px solid #bdbdbd;
}

.direct-chat.open {
    right: 0;
}

#chat-messages {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.direct-chat .message {
    margin-bottom: 10px;
    display: block;
}

.direct-chat .message .info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.direct-chat .message .info > .name {
    font-weight: 600;
    float: left;
}

.direct-chat .message .info > .time {
    color: #999;
    float: right;
}

.direct-chat .message .status {
    font-size: 5px;
    position: absolute;
    margin-left: 30px;
    margin-top: -7px;
}

.direct-chat .message .user-img {
    float: left;
    margin-top: 3px;
    position: relative;
}

.direct-chat .message .text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #fff;
    margin: 5px 0 0 50px;
    color: #444;
    word-break: break-all;
}

.direct-chat .message .text:before {
    border-width: 6px;
    margin-top: -6px;
}

.direct-chat .message .text:after {
    border-width: 5px;
    margin-top: -5px;
}

.direct-chat .message .text:after,
.direct-chat .message .text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #fff;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat .message.my-msg .info > .name {
    float: right;
}

.direct-chat .message.my-msg .info > .time {
    float: left;
}

.direct-chat .message.my-msg .user-img {
    float: right;
}

.direct-chat .message.my-msg .text {
    background: #3c8dbc;
    color: #fff;
    margin-right: 50px;
    margin-left: 15px;
}

.direct-chat .message.my-msg .text:after,
.direct-chat .message.my-msg .text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #3c8dbc;
}

.direct-chat .message.my-msg a {
    color: #fff;
}

.direct-chat .message.my-msg a:hover,
.direct-chat .message.my-msg a:active,
.direct-chat .message.my-msg a:focus {
    color: #ff6c2c
}

.direct-chat .message.my-msg .options i {
    float: left;
    color: #8d8d8d;
    margin-top: 10px;
    cursor: pointer;
}

.direct-chat .chat-form {
    background-color: #e0e0e0;
    border-top: 1px solid #ababab;
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 100;
    width: 100%;
}

.charts-select {
    position: absolute;
    margin-top: -5px;
}

.login-container {
    margin: 0 auto;
    width: 300px;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-container .brand {
    color: #ff6c2c;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.login-container #password-icon {
    background-color: #fff;
    border-right: 0;
}

.login-container .form-control {
    border-left: 0;
    box-shadow: none;
}

.login-container .form-control:focus {
    box-shadow: none;
    border-left: 1px solid #ff6c2c;
}

.btn-login {
    border: 1px solid #095779;
    background-color: #179bd7;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.btn-login:hover,
.btn-login:active,
.btn-login:focus {
    background-color: #095779;
    color: #fff;
}

.form-control {
    border-radius: 2px;
}

.form-control:focus {
    border-color: #ff6c2c;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 108, 44, 0.6);
}

.btn {
    border-radius: 2px;
    font-weight: 400;
}

.btn-default {
    color: #333;
    text-align: center;
    background: #eee;
    cursor: pointer;
    border: 1px solid #ccc;
}

.btn-default:hover,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border: 1px solid #bbb;
}

.btn-primary {
    background: #ff6c2c;
    box-shadow: inset 0 0 #dd370a;
    color: #fff;
    border: 1px solid #dd370a;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:focus, .btn-primary.focus {
    border: 1px solid #d0350a;
    background: #dd370a;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border: 1px solid #b72e08;
    background: #bc330a;
}

.btn-default,
.btn-primary,
.btn-danger {
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    vertical-align: middle;
    z-index: 1;
}

.alert {
    border-radius: 2px;
}

.alert-success {
    background-color: #dff2d5;
    border: 1px solid #83b655;
}

.alert-info {
    background-color: #d7edf9;
    border: 1px solid #179bd7;
}

.alert-warning {
    background-color: #fcf8e1;
    border: 1px solid #f6c342;
}

.alert-danger {
    background-color: #f2dede;
    border: 1px solid #d03f00;
}

.modal-content {
    border-radius: 3px;
}

select,
.select2-container {
    width: 100% !important;
}

.select2-container-multi .select2-choices {
    border-radius: 3px;
    box-shadow: none;
    background-image: none !important;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 1px !important;
    padding-left: 5px !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 0 3px 3px !important;
}

.select2-container-multi .select2-choices .select2-search-choice table {
    border: none;
}

.select2-results {
    margin: 0 !important;
    padding: 0 !important;
}

.select2-results .select2-highlighted table {
    border: none;
}

.select2-results .select2-no-results {
    padding: 5px 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.text-primary,
.text-primary:hover {
    color: #2196F3;
}

.text-success,
.text-success:hover {
    color: #4CAF50;
}

.text-danger,
.text-danger:hover {
    color: #F44336;
}

.text-warning,
.text-warning:hover {
    color: #FF9800;
}

.text-info,
.text-info:hover {
    color: #03A9F4;
}

@media (max-width: 767px) {
    .nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;
    }

    .nav-tabs > li {
        float: none;
    }
}

.panel-txtarea {
    box-shadow: initial;
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
}

.panel-txtarea .form-control {
    border-radius: 0 0 2px 2px;
}

.panel-txtarea .select2-container {
    width: 100% !important;
}

.panel-txtarea .panel-heading .bbcode {
    background-color: #ddd;
    margin: 3px 1px;
    border-radius: 2px;
    padding: 3px;
}

.panel-txtarea .editor-wrapper > .nav > li a:active,
.panel-txtarea .editor-wrapper > .nav > li.active > a {
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0);
}

.panel-txtarea .editor-wrapper > .nav > li > a {
    padding: 4px 7px;
    margin-top: 3px;
}

.topborder {
    border-top: 1px solid #ddd;
}

.debugger {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

.debugger .debugger-navbar {
    position: relative;
    border-top: 1px solid #becacd;
    border-bottom: 1px solid #becacd;
    color: #444;
}

.debugger .debugger-navbar-nav {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.debugger .debugger-navbar-nav > li {
    position: relative;
    float: left;
}

.debugger .debugger-navbar-nav > li > a {
    display: block;
    box-sizing: border-box;
    height: 30px;
    margin-top: -1px;
    padding: 6px 15px;
    border-top: 1px solid transparent;
    border-right: 1px solid #becacd;
    color: #444;
    text-decoration: none;
    line-height: 17px;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
}

.debugger .debugger-navbar-nav > li.active {
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #e6e6e6;
}

.debugger .debugger-navbar-nav > li > a > i {
    font-size: 15px;
    vertical-align: middle;
}

.debugger .debugger-navbar-nav > li > a > i.phpfusion-icon {
    font-size: 21px;
    margin-top: -2px;
}

.debugger .debug-dropup {
    display: none;
    position: absolute;
    top: auto;
    left: -1px;
    bottom: 100%;
    z-index: 1000;
    padding: 10px;
    min-width: 170px;
    border: 1px solid #becacd;
    background-color: #fff;
}

.debugger .debugger-navbar-nav > li:hover > .debug-dropup {
    display: block;
}

.debugger-content {
    padding: 15px;
    overflow-y: auto;
    height: 350px;
    position: relative;
}

.debugger .close {
    float: right;
    margin: 4px 10px;
}

#footer_errors > .display-block:first-child {
    display: none;
}

#tab-content-bbcode_list table td > img {
    border: 0 !important;
    background-color: #ddd;
    border-radius: 2px;
    padding: 2px;
}

.tab-content {
    padding-top: 10px;
}

.display-flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    gap: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.dataTables_paginate.paging_simple_numbers,
.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.fixed-layout .atomcp-navbar .navbar {
    position: fixed;
}

.fixed-layout #sidebar {
    position: fixed;
}

.fixed-layout #content {
    margin-top: 64px;
}

.darkmode {
    color: #d7d7d7;
    background-color: #1d1d1d;
}

.darkmode .atomcp-navbar .navbar {
    background-color: #262626;
}

.darkmode .atomcp-navbar .sidebar-toggle,
.darkmode .atomcp-navbar .user-nav > li > a {
    color: #777;
}

.darkmode .atomcp-navbar .navbar,
.darkmode .atomcp-navbar .sidebar-toggle,
.darkmode .atomcp-navbar .user-nav > li > a,
.darkmode .atomcp-navbar .user-nav > li.open > a,
.darkmode .atomcp-navbar .user-nav > li.open > a:hover,
.darkmode .atomcp-navbar .user-nav > li.open > a:focus,
.darkmode .dropdown-menu {
    border-color: #191919;
}

.darkmode .atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a {
    border-bottom: 1px solid #0f0f0f;
}

.darkmode .atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a:hover {
    background: #191919;
}

.darkmode .atomcp-navbar .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    color: #979595;
}

.darkmode .atomcp-navbar .messages-menu > .dropdown-menu > li.footer > a {
    background-color: #323232;
}

.darkmode #sidebar {
    background-color: #262626;
    border-color: #191919;
}

.darkmode #sidebar-sections > li.active > a,
.darkmode #sidebar-sections > li.open > a {
    color: #e0e0e0;
    background-color: #1d1d1d;
    box-shadow: 2px 0 0 0 #1d1d1d;
    border-left: 4px solid #ff6c2c;
}

.darkmode #sidebar-sections > li > a {
    border-color: #191919;
    color: #777;
}

.darkmode #sidebar-sections > li > a:hover,
.darkmode #sidebar-sections > li > a:active,
.darkmode #sidebar-sections > li > a:focus {
    color: #ff6c2c;
}

.darkmode #sidebar-sections > li > .dropdown-menu > li {
    border-bottom: 1px dotted #111111;
}

.darkmode .info-box,
.darkmode .panel {
    background-color: #222;
    border-color: #111;
}

.darkmode .panel .panel-heading {
    border-top: 0 solid #262626;
    border-bottom: 1px solid #1d1d1d;
    color: #a1a1a1;
}

.darkmode .panel-footer {
    background-color: #383838;
    border-top: 1px solid #1d1d1d;
}

.darkmode .panel.active .panel-heading {
    color: #ff6c2c;
}

.darkmode .sections > .panel:hover,
.darkmode .panel.active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.60);
    border-color: rgba(0, 0, 0, 0.60);
}

.darkmode .panel-txtarea {
    border: 1px solid #0d0d0d !important;
}

.darkmode .panel-txtarea .preview-response {
    background-color: #262626;
}

.darkmode .icon-wrapper {
    background-color: #262626;
    border: 1px solid #333;
}

.darkmode .section-content {
    background-color: #262626;
    border: 1px solid #191919;
}

.darkmode .select2-drop {
    background: #383838;
    color: #c6c6c6;
    border: 1px solid #383737;
}

.darkmode .select2-container-multi .select2-choices,
.darkmode .select2-container .select2-choice {
    border: 1px solid #090909;
    color: #e3e3e3;
    background-color: #464444;
    background-image: none;
}

.darkmode .select2-container .select2-choice div {
    border-color: #090909;
    background-color: #464444;
    background-image: none;
}

.darkmode .select2-dropdown-open .select2-choice {
    box-shadow: none;
}

.darkmode .select2-container.select2-container-disabled .select2-choice {
    background-color: #595959;
    border: 1px solid #0f0f0f;
}

.darkmode .select2-container.select2-container-disabled .select2-choice div {
    background-color: #595959;
}

.darkmode .select2-container.select2-drop-above .select2-choice {
    background-color: #4b4b4b;
    box-shadow: none !important;
    background-image: none;
    border-bottom-color: transparent;
}

.darkmode .select2-drop-above {
    border-top-color: transparent;
}

.darkmode .select2-search input {
    background: #242121 url("../../../includes/dynamics/assets/select2/select2.png") no-repeat 100% -22px;
}

.darkmode .select2-drop.select2-drop-above {
    border-top: none;
}

.darkmode .debugger {
    background-color: #1b1b1b;
    color: #a19e9e;
}

.darkmode .debugger .debugger-navbar,
.darkmode .debugger .debugger-navbar-nav > li > a {
    border-color: #151515;
    color: #777;
}

.darkmode .debugger .debugger-navbar-nav > li.active {
    border-bottom-color: #1b1b1b;
    background: #373535;
}

.darkmode .debugger .debug-dropup {
    border-color: #151515;
    background-color: #1b1b1b;
}

.darkmode .topborder {
    border-top: 1px solid #1b1b1b;
}

.darkmode .direct-chat,
.darkmode .direct-chat .chat-form {
    background-color: #494949;
    border-color: #212121;
}

.darkmode .dropdown-menu {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    background-color: #262626;
}

.darkmode .dropdown-menu .divider {
    border-color: #111111;
}

.darkmode .dropdown-menu > li:last-child {
    border-bottom: 1px dotted transparent;
}

.darkmode .dropdown-menu > li > a {
    color: #c0c0c0;
}

.darkmode .dropdown-menu > li > a:hover,
.darkmode .dropdown-menu > li > a:active,
.darkmode .dropdown-menu > li > a:focus,
.darkmode .dropdown-menu > .active > a,
.darkmode .dropdown-menu > .active > a:hover,
.darkmode .dropdown-menu > .active > a:focus {
    background-color: #171717;
}

.darkmode .form-control {
    background-color: #444;
    border-color: #555;
    color: #eee;
}

.darkmode .form-control:focus {
    border-color: #ff6c2c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 108, 44, 0.6);
}

.darkmode .btn-default,
.darkmode .input-group-addon,
.darkmode .login-container #password-icon {
    background-color: #d7d7d7;
}

.darkmode .btn-default:hover,
.darkmode .btn-default:active:hover,
.darkmode .btn-default.active:hover,
.darkmode .open > .dropdown-toggle.btn-default:hover,
.darkmode .btn-default:active:focus,
.darkmode .btn-default.active:focus,
.darkmode .open > .dropdown-toggle.btn-default:focus,
.darkmode .btn-default:active.focus,
.darkmode .btn-default.active.focus,
.darkmode .open > .dropdown-toggle.btn-default.focus {
    background-color: #c2c2c2;
    border: 1px solid #9d9d9d;
}

.darkmode .modal-content {
    background-color: #0d0d0d;
}

.darkmode .modal-header {
    border-bottom: 1px solid #000000;
}

.darkmode .well {
    background-color: #1d1d1d;
    border: 1px solid #0d0a0a;
}

.darkmode .nav-tabs {
    border-color: #111;
}

.darkmode .nav-tabs > li > a:hover {
    border-color: #0f0f0f;
}

.darkmode .nav-tabs > li.active > a,
.darkmode .nav-tabs > li.active > a:focus,
.darkmode .nav-tabs > li.active > a:hover {
    color: #bababa;
    background-color: #222;
    border-color: #111;
    border-bottom-color: transparent;
}

.darkmode .nav > li > a:focus,
.darkmode .nav > li > a:hover {
    background-color: #131313;
}

.darkmode .list-group-item {
    background-color: #1f1f1f !important;
    border: 1px solid #131313 !important;
}

.darkmode hr {
    border-top: 1px solid #191919;
}

.darkmode pre {
    border-color: #151515;
}

.darkmode .table-bordered,
.darkmode .table > tbody > tr > td,
.darkmode .table > tbody > tr > th,
.darkmode .table > tfoot > tr > td,
.darkmode .table > tfoot > tr > th,
.darkmode .table > thead > tr > td,
.darkmode .table > thead > tr > th {
    border-color: #1d1d1d;
}

.darkmode .table > tbody > tr.active > td,
.darkmode .table > tbody > tr.active > th,
.darkmode .table > tbody > tr > td.active,
.darkmode .table > tbody > tr > th.active,
.darkmode .table > tfoot > tr.active > td,
.darkmode .table > tfoot > tr.active > th,
.darkmode .table > tfoot > tr > td.active,
.darkmode .table > tfoot > tr > th.active,
.darkmode .table > thead > tr.active > td,
.darkmode .table > thead > tr.active > th,
.darkmode .table > thead > tr > td.active,
.darkmode .table > thead > tr > th.active {
    background-color: #1b1b1b;
}

.darkmode .table-hover > tbody > tr:hover {
    background-color: #171717;
}

.darkmode .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #494848;
}

.darkmode .text-dark {
    color: #b3b3b3 !important;
}

.darkmode .badge {
    color: #d7d7d7;
    background-color: #1d1d1d;
}

.darkmode .text-muted {
    color: #b7b7b7;
}

.darkmode .close {
    color: #fff;
}

.darkmode .pagination > li > a,
.darkmode .pagination > li > span {
    background-color: #232323;
    border: 1px solid #000;
}

.darkmode .pagination > li > a:hover,
.darkmode .pagination > li > span:hover,
.darkmode .pagination > li > a:focus,
.darkmode .pagination > li > span:focus {
    background-color: #383838;
    border-color: #000;
}

.darkmode .pagination > .disabled > span,
.darkmode .pagination > .disabled > span:hover,
.darkmode .pagination > .disabled > span:focus,
.darkmode .pagination > .disabled > a,
.darkmode .pagination > .disabled > a:hover,
.darkmode .pagination > .disabled > a:focus {
    color: #c7c7c7;
    background-color: #4e4e4e;
    border-color: #000;
}

.darkmode .pagination > .active > a,
.darkmode .pagination > .active > span,
.darkmode .pagination > .active > a:hover,
.darkmode .pagination > .active > span:hover,
.darkmode .pagination > .active > a:focus,
.darkmode .pagination > .active > span:focus {
    color: #fff;
    background-color: #292929;
    border-color: #000;
}


@media (max-width: 991px) {
    .darkmode .content-header > .breadcrumb {
        background-color: #2e2d2d;
    }
}
